<div class="wrapper">
  <!-- site top panel-->
  <div class="site-top-panel">
    <div class="container p-relative">
      <div class="row">
        <div class="col-md-6 col-sm-7">
          <!-- lang select wrapper-->
          <div class="top-left-wrap font-3">
            <div class="mail-top"><a href="http://html.creaws.com/cdn-cgi/l/email-protection#8dfef8fdfde2fff9a3fef8e3f9e2f8ffcde8f5ece0fde1e8a3eee2e0"> <i class="flaticon-suntour-email"></i><span class="__cf_email__" data-cfemail="cab9bfa4bea5bfb88aafb2aba7baa6afe4a9a5a7">[email&#160;protected]</span></a></div><span>/</span>
            <div class="tel-top"><a href="tel:(723)-700-1183"> <i class="flaticon-suntour-phone"></i>(723)-700-1183</a></div>
          </div>
          <!-- ! lang select wrapper-->
        </div>
        <div class="col-md-6 col-sm-5 text-right">
          <div class="top-right-wrap">
            <div class="top-login"><a href="#">My Account</a></div>
            <div class="curr-wrap dropdown">
              <div>
                <ul>
                  <li><a routerLink="/main/place-order" class="lang-sel icl-en"><i class="fa fa-angellist"></i> Wishlist</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="lang-wrap dropdown">
              <div>
                <ul>
                  <li><a routerLink="/main/checkout" class="lang-sel icl-en"><i class="fa fa-check"></i> CheckOut</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="curr-wrap dropdown">
              <div>
                <ul>
                  <li><a routerLink="/main/view-product" class="lang-sel icl-en"><i class="fa fa-shopping-cart"(click)="openForm()"></i> Cart</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="curr-wrap dropdown">
              <div>
                <ul>
                  <li><a href="#" class="lang-sel icl-en"><i class="fa fa-lock"></i> Login</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ! site top panel-->
  <!-- Navigation panel-->
  <nav class="main-nav js-stick"style="background-color: white">
    <div class="full-wrapper relative clearfix container">
      <!-- Logo ( * your text or image into link tag *)-->
      <div class="nav-logo-wrap local-scroll"><a href="index-2.html" class="logo"><img src="img/logo.png" data-at2x="img/logo@2x.png" alt></a></div>
      <!-- Main Menu-->
      <div class="inner-nav desktop-nav">
        <ul class="clearlist">
          <!-- Item With Sub-->
          <li><a routerLink="/main/dash" class="mn-has-sub active">Home <i class="fa fa-angle-down button_open"></i></a>
            <ul class="mn-sub">
              <li class="active"><a href="index-2.html">Standart Slider</a></li>
              <li><a href="index-search.html">Main Search</a></li>
              <li><a href="index-slider.html">Full Slider</a></li>
              <li><a href="index-video.html">Video Slider</a></li>
            </ul>
          </li>
          <!-- End Item With Sub-->
          <li class="slash">/</li>
          <!-- Item With Sub-->
          <li><a routerLink="/main/manage-customer" class="mn-has-sub">Customer Details</a>
          <li class="slash">/</li>
          <li><a routerLink="/main/view-product" class="mn-has-sub">Product<i class="fa fa-angle-down button_open"></i></a>
            <!-- Sub-->
            <ul class="mn-sub">
              <li><a routerLink="/main/view-product">Product list</a></li>
              <li><a href="hotels-search.html">Product search</a></li>
              <li><a href="hotels-details.html">Product details</a></li>
            </ul>
            <!-- End Sub-->
          </li>
          <!-- End Item With Sub-->
          <li class="slash">/</li>
          <!-- Item With Sub-->
          <li class="megamenu"><a routerLink="/main/view-catagory" class="mn-has-sub">Categorie<i class="fa fa-angle-down button_open"></i></a>
            <!-- Sub-->
            <ul class="mn-sub mn-has-multi">
              <li class="mn-sub-multi"><a class="mn-group-title">fruit</a>
                <ul>
                  <li><a href="page-about-us.html"></a></li>
                  <li><a href="page-services.html"></a></li>
                  <li><a href="page-procces.html"></a></li>
                  <li><a href="page-our-team.html"></a></li>
                  <li><a href="page-profile.html"></a></li>
                  <li><a href="page-elements.html"></a></li>
                </ul>
              </li>
              <li class="mn-sub-multi"><a class="mn-group-title">Vegitable</a>
                <ul>
                  <li><a href="portfolio-3-col.html"></a></li>
                  <li><a href="portfolio-4-col.html"></a></li>
                  <li><a href="portfolio-masonry.html"></a></li>
                  <li><a href="portfolio-with-sidebar.html"></a></li>
                  <li><a href="portfolio-gallery.html"></a></li>
                  <li><a href="page-portfolio-single.html"></a></li>
                </ul>
              </li>
              <li class="mn-sub-multi"><a class="mn-group-title">Fish and milk</a>
                <ul>
                  <li><a href="blog-2-col-sidebar.html"></a></li>
                  <li><a href="blog-3-col.html"></a></li>
                  <li><a href="blog-4-col.html"></a></li>
                  <li><a href="blog-single.html"></a></li>
                  <li><a href="blog-grid.html"></a></li>
                  <li><a href="blog-list.html"></a></li>
                </ul>
              </li>
            </ul>
            <!-- End Sub-->
          </li>
          <!-- End Item With Sub-->
          <!-- span /-->
          <!-- Item With Sub-->
          <!-- End Item With Sub-->
          <li class="slash">/</li>
          <!-- Item With Sub-->
          <li><a href="shop-grid.html" class="mn-has-sub">Shop <i class="fa fa-angle-down button_open"></i></a>
            <!-- Sub-->
            <ul class="mn-sub">
              <li><a href="shop-grid.html">Shop Grid</a></li>
              <li><a href="shop-cart.html">Shop Cart</a></li>
              <li><a href="shop-checkout.html">Shop Checkout</a></li>
              <li><a href="shop-single.html">Shop Single Product</a></li>
            </ul>
            <!-- End Sub-->
          </li>
          <!-- End Item With Sub-->
          <li class="slash">/</li>
          <!-- Item-->
          <li><a href="page-contact.html">Contact</a></li>
          <!-- End Item-->
          <!-- Search-->
          <li class="search"><a href="#" class="mn-has-sub">Search</a>
            <ul class="search-sub">
              <li>
                <div class="container">
                  <div class="mn-wrap">
                    <form method="post" class="form">
                      <div class="search-wrap">
                        <input type="text" placeholder="Where will you go next?" class="form-control search-field"><i class="flaticon-suntour-search search-icon"></i>
                      </div>
                    </form>
                  </div>
                  <div class="close-button"><span>Search</span></div>
                </div>
              </li>
            </ul>
          </li>
          <!-- End Search-->
        </ul>
      </div>
      <!-- End Main Menu-->
    </div>
  </nav>
  <!-- End Navigation panel-->
<!-- ! header page-->
<!--<div class="content-body">-->
  <!--<div class="tp-banner-container">-->
    <!--<div class="tp-banner-slider">-->

    <!--</div>-->
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
<!-- footer-->

  <!--<div class="space2"style="height: 500px"></div>-->
  <section>
    <div class="form-popup" id="myForm">
      <form action="" class="form-container">
        <h1 class="a">Login &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <i class="fa fa-times color-blue"(click)="closeForm()"></i></h1>
        <!--<button type="submit" class="btn cancel" (click)="closeForm()">Close</button>-->
        <br>
        <div class="row">
          <div class="col-md-3">
            <label class="lable"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>

            <label class="lable"><b>Delivery Address</b></label>
            <input type="text" placeholder="Enter DeliveryAddress" name="delivery_address" required>

            <label class="lable"><b>Payment Method</b></label>
            <input type="text" placeholder="Enter PaymentMethod" name="payment_method" required>

            <label class="lable"><b>Order Date</b></label>
            <input type="text" name="order_date" required><span>DD : MM : YYYY</span>

          </div>
          <div class="col-md-9">
            <div class="col-md-1"></div>

            <div class="row">
              <div class="col-md-1"><label class="lable"><b>Product Name</b></label></div>
              <div class="col-md-3"><input type="text" name="product_name" required></div>

              <div class="col-md-1"><label class="lable"><b>Qty ON Hand</b></label></div>
              <div class="col-md-3"><input type="text" name="quantityOnHand" required></div>

              <div class="col-md-1"><label class="lable"><b>Unit Price</b></label></div>
              <div class="col-md-3"><input type="text" name="unitPrice" required></div>
            </div>

            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-1"><label class="lable"><b>Total Price</b></label></div>
              <div class="col-md-3"><input type="text" placeholder="Enter TotalPrice" name="total_price" required></div>

              <div class="col-md-1"><label class="lable"><b>Total Quantity</b></label></div>
              <div class="col-md-3"><input type="text" placeholder="Enter TotalQuantity" name="total_quantity" required></div>

            </div>

            <div class="col-md-1"></div>
            <div class="col-md-7">
              <p>All Products</p>
              <table id="tbl" class="table table-bordered table-hover">
                <thead style="background-color: orange">
                <tr>
                  <th>ID</th>
                  <th>Product Image</th>
                  <th>Product Name</th>
                  <th>Description</th>
                  <th>qtyOnHand</th>
                  <th>UnitPrice</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <i class="fa fa-times fa-2x"></i>
                  </td>
                  <!--<td>-->
                  <!--ADD CART <i class="fa fa-shopping-cart fa-2x"(click)="openForm()"></i>-->
                  <!--</td>-->
                </tr>
                </tbody>
              </table>

              <button type="submit" class="btn">Login</button>
              <!--</form>-->
            </div>
          </div>
        </div>
      </form>
    </div>

  </section>
<footer class="footer footer-fixed">

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>© Copyright 2018 <span>Shopping</span> &nbsp;&nbsp;|&nbsp;&nbsp; All Rights Reserved</p>
        </div>
        <div class="col-sm-6 text-right"><a href="index-2.html" class="footer-nav">Home</a><a href="page-about-us.html" class="footer-nav">Pages</a><a href="hotels-search.html" class="footer-nav">Hotels</a><a href="blog-grid.html" class="footer-nav">Blog</a><a href="shop-grid.html" class="footer-nav">Shop</a><a href="page-contact.html" class="footer-nav">Contacts</a></div>
      </div>
    </div>
  </div>
</footer>

</div>
