<!-- Content Header (Page header) -->
<div class="content">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="image1">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Home</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right"style="background: transparent">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Home </li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.image1 -->
  </div><!-- /.container-fluid -->
</div>
</div>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
<div class="row">
        <div class="boder"></div>
</div>
    <div class="space"></div>
    <div class="row">
      <div class="black">
        <br>
        <h1 class="h1">Recent Product</h1>
        <p id="p1">Lorem uigg uduigc dciubdiuc hdciuiuc diuciudc iudiu uibiicud</p>
        <div class="col-sm-1"></div>
    <div class="card">
      <div class="cart1">
        <div class="space1"></div>
        <div class="button1">
          <div class="addcart">
            <!--<button (click)="saveCategorie()" type="submit" class="btn btn-primary">Save</button>-->
            <i (click)="deleteCategorie(categorie)" class="fa fa-shopping-cart fa-2x "style="color: deeppink"></i>
          </div>
        </div>
      </div>
      <div class="cart2">
        <div class="space1"></div>
        <div class="button1">
          <div class="addcart2">
            <!--<button (click)="saveCategorie()" type="submit" class="btn btn-primary">Save</button>-->
            <i (click)="deleteCategorie(categorie)" class="fa fa-shopping-cart fa-2x "style="color: deeppink"></i>
          </div>
        </div>
      </div>
      <div class="cart3">
        <div class="space1"></div>
        <div class="button1">
          <div class="addcart3">
            <!--<button (click)="saveCategorie()" type="submit" class="btn btn-primary">Save</button>-->
            <i (click)="deleteCategorie(categorie)" class="fa fa-shopping-cart fa-2x "style="color: deeppink"></i>
          </div>
        </div>
      </div>
      <div class="cart4">
        <div class="space1"></div>
        <div class="button1">
          <div class="addcart4">
            <!--<button (click)="saveCategorie()" type="submit" class="btn btn-primary">Save</button>-->
            <i (click)="deleteCategorie(categorie)" class="fa fa-shopping-cart fa-2x "style="color: deeppink"></i>
          </div>
        </div>
      </div>
      </div>
  </div>
    </div>
  </div>
  <!--<br>-->
  <!--<br>-->
  <!--<div class="wite">-->

  <!--</div>-->
</section>
